body {
    margin: 0;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    
}

.input-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.edit-btns {
    grid-column: span 2;
}

.output {
    grid-column: span 4;
    text-align: right;
    border: 1px solid;
    padding: 10px 20px;
    padding-right: 5px;
    padding-bottom: 5px;
}
